<!-- templates/home.html-->
{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}
{% if user.is_authenticated %}
  Hi {{ user.username }}!
  <p><a href="{% url 'logout' %}">Log Out</a></p>

  <div>
    <h1>Sporturi</h1>
    {% for sport in sports_list %}
      
      <a href="{% url 'sports' sport_id=sport.id %}">{{ sport.nume }}</a>
    {% endfor %}
  </div>

  <div>
    <h1>Jucatori</h1>
    {% for jucator in jucatori %}
      {{ jucator.nume }} {{ jucator.prenume }} <a href="jucator/{{jucator.id}}/update">Adauga in echipa</a> <a href="jucator/{{jucator.id}}/delete">Elimina-l</a>
      <br>
    {% endfor %}
    <br><br>
    <a href="jucator/create" >Adauga jucator</a>

  </div>

{% else %}
  <p>You are not logged in</p>
  <a href="{% url 'login' %}">Log In</a>
{% endif %}
{% endblock %}